@media only screen and (max-width: 479px){
    #confirmation{
        background-image: url('../assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -22px;
        .text_center{
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{  
            color: rgb(243, 86, 151);
            position: absolute;
            margin-top: -50px;
            }
            p{
                color: #fff;
                position: absolute;
            }
            span{
                color: #fff;
                margin-top: -10px;
                position: absolute;
            }
            .backToMain{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 120px;
                button{
                    border: none;
                    background-color: rgb(77, 194, 194);
                    padding: 15px;
                    font-weight: bold;
                    border-radius: 5px;
        
                    &:hover{
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    #confirmation{
        background-image: url('../assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -22px;
        .text_center{
            font-family: Arial, Helvetica, sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{  
            color: rgb(243, 86, 151);
            position: absolute;
            margin-top: -50px;
            }
            p{
                color: #fff;
                position: absolute;
            }
            span{
                color: #fff;
                margin-top: -10px;
                position: absolute;
            }
            .backToMain{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 120px;
                button{
                    border: none;
                    background-color: rgb(77, 194, 194);
                    padding: 15px;
                    font-weight: bold;
                    border-radius: 5px;
        
                    &:hover{
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}