@media only screen and (max-width: 479px){
  .text_h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #reservation .header,
  #payment .header{
     .icon_right{
      display: flex;
      float: right;
       img.icon1{
         margin-top: -30px;
         margin-right: 30px;
       }
       img.icon2{
          margin-right: 10px;
       }
     }
  }
    .text_h4{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

