@media only screen and (max-width: 479px) {
    .data_reservation{
        display: flex;
        justify-content: center;
        align-items: center;
         .box{
             padding: 5px;
         }
    }
    .films_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        .film_box{
            margin-left: 20px;
            width: 300px;
            height: 150px;
            margin-bottom: 50px;

            .buttons_2d{
                margin-top: -130px;
                margin-right: 15px;
                margin-bottom: -10px;
            }
            .buttons_3d{
                margin-top: -10px;
                margin-right: 73px;
            }
            h3{
                margin-top: -190px;
                font-size: 13px;
                font-weight: bold;
                margin-left: 110px;
                position: absolute;
            }
            p{
                margin-top: -170px;
                margin-left: 110px;
                position:absolute;
            }
            h5{
                font-size: 15px;
                margin-top: -150px;
                margin-left: 110px;
                position: absolute;
            }
            h4{
                margin-left: 110px;
                margin-top: 50px;
                text-align: left;
            }
            img{
                width: 120px;
                height:205px;
                border-radius: 10px;
                margin-left: -20px;
                margin-top: -27px;
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .data_reservation{
        display: flex;
        justify-content: center;
        align-items: center;
         .box{
             padding: 5px;
         }
    }
    .films_info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        .film_box{
            margin-left: 20px;
            width: 300px;
            height: 150px;
            margin-bottom: 50px;

            .buttons_2d{
                margin-top: -130px;
                margin-right: 15px;
                margin-bottom: -10px;
            }
            .buttons_3d{
                margin-top: -10px;
                margin-right: 73px;
            }
            h3{
                margin-top: -190px;
                font-size: 13px;
                font-weight: bold;
                margin-left: 110px;
                position: absolute;
            }
            p{
                margin-top: -170px;
                margin-left: 110px;
                position:absolute;
            }
            h5{
                font-size: 15px;
                margin-top: -150px;
                margin-left: 110px;
                position: absolute;
            }
            h4{
                margin-left: 110px;
                margin-top: 50px;
                text-align: left;
            }
            img{
                width: 142px;
                height:205px;
                border-radius: 10px;
                margin-left: -50px;
                margin-top: -27px;
            }
        }
    }
}

