body {
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: black !important;
  padding: 5px;
}

.header .left_logo p {
  color: #eb2376;
  font-family: Arial;
  letter-spacing: 1px;
}

.header .icon_right img.icon1 {
  float: right;
  margin-top: -30px;
  margin-right: 80px;
}

.header .icon_right img.icon2 {
  float: right;
  margin-top: -30px;
  margin-right: 40px;
}

.data_reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.data_reservation .box {
  width: 50px;
  height: 50px;
  background-color: #fff;
  font-family: Arial;
  text-align: center;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  padding: 10px;
}

.data_reservation .box:hover {
  background-color: #000;
  color: #eb2376;
  box-shadow: none;
  transition: .2s all ease-in-out;
  cursor: pointer;
}

.films_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.films_info .film_box {
  margin-right: 20px;
  box-shadow: 0 0 10px gray;
  border-radius: 15px;
  padding: 20px;
  width: 390px;
}

.films_info .film_box h5 {
  color: #eb2376;
  text-align: right !important;
}

.films_info .film_box h3 {
  font-family: Arial;
  font-size: 16px;
  margin-top: -5px;
  float: right;
}

.films_info .film_box h4 {
  color: #eb2376;
  text-align: right;
  font-size: 14px;
  margin-top: 80px;
}

.films_info .film_box img {
  width: 200px;
  height: 290px;
}

.films_info .film_box p {
  color: gray;
  font-family: Arial;
  font-size: 13px;
  margin-bottom: 50px !important;
  margin-top: 20px;
  text-align: right;
}

.films_info .film_box button.film_cost {
  font-weight: bold;
}

.films_info .film_box button.film_cost span {
  color: #fff;
}

.films_info .film_box button {
  float: right;
  background-color: #2abbbb;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 4px;
  position: relative;
}

.films_info .film_box button:hover {
  background-color: #eb2376;
  transition: .3s all ease-in-out;
  cursor: pointer;
}
